section.my-14
	h2(class="text-center text-[40px] font-bold") Welcome to Organic Store! 
	section(class=" container lg:flex gap-[10%] lg:py-16 justify-center items-center ")
		div(class="w-[50%] maxlg:w-full my-5")
			img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/about-1.jpg", alt="" ,class="  w-full overflow-hidden")
		div(class="w-[40%] maxlg:w-full my-5")

			p.text-zinc-500.text-base Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,