div(class="flex  gap-[5%] container   capitalize maxlg:flex-col-reverse")
    aside(class="maxlg:order-1 real lg:h-fit aside bg-secondary-100 flex flex-col gap-8 maxlg:gap-4 maxlg:w-full w-[25%] min-w-[215px] lg:sticky top-[125px] maxlg:pb-[4%] lg:divide-y-[1px]")
        form(action="" class="   " )
            div( class="w-full  text-sm flex  border  rounded-full shadow ")
                label(for="aside_search", class="sr-only")  Search 
                input(type="text", name="aside_search",class=" py-2 rtl:order-last border-none rounded-l-full  px-2 outline-[#FE6601] outline-0.5 ",placeholder="Search...")
                button(type="submit",class="py-2 px-3 rounded-full border border-white aspect-square hover:border-primary font-semibold  ") 
                    i( class="fa-solid fa-magnifying-glass")
            div(class="lg:hidden w-full mt-3")
                div
                    select#Categories(name="Categories", class="border bg-secondary-100 border-gray-300 shadow  font-medium text-sm rounded-full block w-full p-2.5  outline-none", required)
                        option(selected, hidden) Categories
                        -for(let i=0;i<4;i++ )
                            option Cosmetic

        div(class="py-4 maxlg:hidden" )
            div(class="flex justify-between items-center" )
                div(class="flex gap-1 items-center font-bold text-base") 
                    span Categories
            div()
                div(class=" mt-4 grid gap-2 text-sm divide-y-[1px]")
                    -for(let i=0;i<4;i++ )
                        a(href="" class="w-full cif justify-between py-1 px-2 text-secondary hover:text-primary ")
                            span Cosmetic
                            span (2)
        div(class="py-4 maxlg:hidden" )
            div(class="flex justify-between items-center" )
                div(class="flex gap-1 items-center font-bold text-base") 
                    span Recent Posts
            div()
                div(class=" mt-4 grid gap-2 text-sm divide-y-[1px]")
                    -for(let i=0;i<4;i++ )
                        a(href="" class="w-full cif flex-col gap-1 py-1 px-2 text-secondary hover:text-primary ")
                            span(class="font-medium") Human Molecular Genetics and Genomics — Important Advances
                            div(class="w-full cif gap-1 text-secondary/60 text-xs ")
                                <i class="fa-solid fa-calendar-days"></i>
                                span September 30, 2021

        div(class="py-4 maxlg:hidden" )
            div(class="flex justify-between items-center" )
                div(class="flex gap-1 items-center font-bold text-base") 
                    span Product tags
            div()
                div(class=" mt-4 flex flex-wrap items-center gap-2 text-sm")
                    -for(let i=0;i<4;i++ )
                        a(href="" class="w-fit py-1 px-2 text-secondary hover:text-primary rounded-full border-2 border-secondary hover:border-primary")
                            span organic(1)
                        a(href="" class="w-fit py-1 px-2 text-secondary hover:text-primary rounded-full border-2 border-secondary hover:border-primary")
                            span vegetables(3)
        


    main(class="grow" )

        div(class="grid grid-cols-2 maxmd:grid-cols-1  gap-6 w-full mt-4" x-show="window")
            -for(let i=0 ;i<12;i++ )
                include blog-card.pug

        // pagination
        div(class="grid justify-center mt-16")
            nav(class="isolate inline-flex gap-[10px] maxsm:gap-3 -space-x-px rounded-md shadow-sm", aria-label="Pagination")
                a(href="#", class="relative inline-flex items-center justify-center rounded-md px-4 aspect-square w-9 text-primary bg-white hover:bg-primary hover:text-white focus:z-20 focus:outline-offset-0", style="box-shadow: 0px 3px 20px #1e294d26")
                    span(class="sr-only") Previous
                    i(aria-hidden="true", class="fa fa-angle-right text-4", :class="{'fa-solid fa-angle-right' : dir == 'rtl','fa-solid fa-angle-left' : dir == 'ltr'}")
                a(href="#", aria-current="page", class="relative rounded-md inline-flex items-center justify-center aspect-square !w-9 text-4 font-bold active-pagination text-white bg-primary hover:text-white hover:bg-primary z-10 focus:z-20", style="box-shadow: 0px 3px 20px #1e294d26") 1
                a(href="#", class="relative rounded-md inline-flex items-center px-4 justify-center aspect-square w-9 text-4 font-bold text-secondary hover:bg-primary bg-white hover:text-white focus:z-20 focus:outline-offset-0", style="box-shadow: 0px 3px 20px #1e294d26") 2
                a(href="#", class="relative rounded-md hidden items-center justify-center px-4 aspect-square w-9 text-4 font-bold text-secondary hover:bg-primary bg-white hover:text-white focus:z-20 focus:outline-offset-0 md:inline-flex", style="box-shadow: 0px 3px 20px #1e294d26") 3
                a(href="#", class="relative rounded-md hidden items-center justify-center px-4 aspect-square w-9 text-4 font-bold text-secondary hover:bg-primary bg-white hover:text-white focus:z-20 focus:outline-offset-0 md:inline-flex", style="box-shadow: 0px 3px 20px #1e294d26") 4
                span(class="relative inline-flex items-center px-4 justify-center aspect-square w-9 text-4 font-bold text-secondary focus:outline-offset-0") ...
                a(href="#", class="relative rounded-md inline-flex items-center justify-center px-4 aspect-square w-9 text-4 font-bold text-secondary bg-white hover:bg-primary hover:text-white focus:z-20 focus:outline-offset-0", style="box-shadow: 0px 3px 20px #1e294d26") 10
                a(href="#", class="relative rounded-md inline-flex items-center justify-center aspect-square w-9 px-4 text-primary bg-white hover:bg-primary hover:text-white focus:z-20 focus:outline-offset-0", style="box-shadow: 0px 3px 20px #1e294d26")
                    span(class="sr-only") Next
                    i(aria-hidden="true", class="fa fa-angle-left text-4", :class="{'fa-solid fa-angle-left' : dir == 'rtl','fa-solid fa-angle-right' : dir == 'ltr'}")
        // end of pagination