div.flex.flex-col.gap-5
	h3.text-zinc-600 Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.  
	div 
		span.font-bold Address : 
		span.text-zinc-600.font-medium 7563 St. Vicent Place, Glasgow, Greater Newyork NH7689, UK
	div 
		span.font-bold Phone : 
		span.text-zinc-600.font-medium  (800) 123 456789
	div 
		span.font-bold Email : 
		span.text-zinc-600.font-medium Organic@example.com
	div 
		span.font-bold Store Open : 
		span.text-zinc-600.font-medium 8am – 08pm, Mon – Sat

