form(action="submit" class="lg:px-5" )
	div.w-full.py-2
		input(class="w-full  rounded-md" type="text", name="name" placeholder="Your name")
	div.w-full.py-2
		input(class="w-full  rounded-md" type="email", name="email" placeholder="Email Address")
	div.w-full.py-2
		input(class="w-full  rounded-md" type="number", name="number" placeholder=" phone number")
	div.w-full.py-2 
		<textarea class="w-full rounded-md" name="message"  rows="6" placeholder="leave Message..."></textarea>
	
	button(type="submit" class="py-2 px-6 bg-primary rounded-full text-white  font-medium text-sm tracking-wider  border-primary hover:bg-white border-2 hover:text-primary uppercase") Send Message