footer(class="bg-secondary  -mt-14 text-white text-sm z-10")
	div(class=" grid grid-cols-2 md:grid-cols-3  lg:grid-cols-5 container leading-7 py-20 gap-2 auto-cols-auto justify-center gap-y-10")
		div(class="col-span-2  md:col-span-3 lg:col-span-2" ) 
			//- h2.fontprim.text-5xl.font-medium.mt-6 Biolife
			div(class="rounded-lg w-[50px] lg:w-[60px]")
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/logo.jpg", alt="" class=" rounded-lg w-[50px] lg:w-[60px]")
			div(class="mt-2")
				a(href="tel:+",class="text-[#FE6601]  text-xl") +01 123 456 888
			a(href="" class="cursor-pointer block hover:text-primary") 7176 Blue Spring Lane Santa Monica, CA 90403
			a(href="mailto:hello@armania.com",class="hover:text-primary")  hello@armania.com
			div.flex.gap-8.py-4
				a(href="http://", target="_blank", rel="noopener noreferrer") 
					<i class="fab hover:text-primary text-base fa-facebook-f"></i>
				a(href="http://", target="_blank", rel="noopener noreferrer") 
					<i class="fab hover:text-primary text-base fa-twitter"></i>
				a(href="http://", target="_blank", rel="noopener noreferrer") 
					<i class="fab hover:text-primary text-base fa-youtube"></i>
				a(href="http://", target="_blank", rel="noopener noreferrer") 
					<i class="fab hover:text-primary text-base fa-instagram"></i>
		div
			h3(class="text-[#FE6601] pb-5 fontprim tracking-widest") INFORMATION
			a(href="./terms-and-conditions.html" class="cursor-pointer block hover:text-primary") Terms and Conditions
			a(href="./privacy-policy.html" class="cursor-pointer block hover:text-primary") Privacy Policy
			a(href="./Refund-policy.html" class="cursor-pointer block hover:text-primary") Refund Policy

		div 
			h3(class="text-[#FE6601] pb-5 fontprim tracking-widest")  SUPPORT
			
			a(href="" class="cursor-pointer block hover:text-primary") Pricing
			a(href="" class="cursor-pointer block hover:text-primary") Features
			a(href="" class="cursor-pointer block hover:text-primary") Customers
			a(href="" class="cursor-pointer block hover:text-primary") One Click Apps
			a(href="" class="cursor-pointer block hover:text-primary") Feed Back
		div(class="maxmd:col-span-2")
			h3(class="text-[#FE6601] pb-5 fontprim tracking-widest")  INSTAGRAM
			div.grid.grid-cols-4.gap-2
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-11-64x64.jpeg", alt="",class=" w-full aspect-square duration-300  hover:scale-110  ease-in-out  smoothing-smooth")
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-10-64x64.jpeg", alt="",class=" w-full aspect-square duration-300  hover:scale-110  ease-in-out  smoothing-smooth")
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-12-64x64.jpeg", alt="",class=" w-full aspect-square duration-300  hover:scale-110  ease-in-out  smoothing-smooth")
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-10-64x64.jpeg", alt="",class=" w-full aspect-square duration-300  hover:scale-110  ease-in-out  smoothing-smooth")
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-13-64x64.jpeg", alt="",class=" w-full aspect-square duration-300  hover:scale-110  ease-in-out  smoothing-smooth")
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-14-64x64.jpeg", alt="",class=" w-full aspect-square duration-300  hover:scale-110  ease-in-out  smoothing-smooth")
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-11.jpeg", alt="",class=" w-full aspect-square duration-300  hover:scale-110  ease-in-out  smoothing-smooth")
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-16-64x64.jpeg", alt="",class=" w-full aspect-square duration-300  hover:scale-110  ease-in-out  smoothing-smooth")
	div.container.w-full
		.border-b.border-zinc-600
	div.flex.justify-between.items-center.container.py-5.text-base
		p.text-zinc-400 Copyright © 
			a(href="https://paymac.net/index.html", class=" text-primary")  paymac
			span Inc. All rights reserved
		.cent.gap-4 
			a(href="",class=" hover:text-primary")  Terms Of Use
			span |
			a(href="",class=" hover:text-primary") Privacy Policy