div( class="fixed left-0 right-0 bg-primary-300 w-full z-10 pb-8 hidden top-[110px] shadow  rounded-b-md bg-white" :class="{'!block': megaMenu}" x-show="megaMenu")
	div( class="container mx-auto ")
		div( class="CategoryMenu mb-4 mt-12")
			div( class="flex flex-col justify-between")
				div( class="CategoryMenu__categories grid grid-cols-5")
					div( class="SubCategory")
						h3( class="hover:text-primary font-bold mb-2 whitespace-nowrap")
							a( href="./filter.html", class="text-lg", previewlistener="true") products
						ul( class="mt-2 text-sm")
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| skin care
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Hair Dryers
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Medical Equipment
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Shavers



							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Hair Styling Equipment
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| 
									| Sports
					div( class="SubCategory")
						h3( class="hover:text-primary font-bold mb-2 whitespace-nowrap")
							a( href="./filter.html", class="text-lg", previewlistener="true") vitamine
						ul( class="mt-2 text-sm")
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| skin care
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Hair Dryers
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Medical Equipment
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Shavers



							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Hair Styling Equipment
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| 
									| Sports
					div( class="SubCategory")
						h3( class="hover:text-primary font-bold mb-2 whitespace-nowrap")
							a( href="./filter.html", class="text-lg", previewlistener="true") Dental Care
						ul( class="mt-2 text-sm")
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| skin care
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Hair Dryers
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Medical Equipment
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Shavers



							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Hair Styling Equipment
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| 
									| Sports
					div( class="SubCategory")
						h3( class="hover:text-primary font-bold mb-2 whitespace-nowrap")
							a( href="./filter.html", class="text-lg", previewlistener="true") Skin Care
						ul( class="mt-2 text-sm")
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| skin care
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Hair Dryers
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Medical Equipment
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Shavers



							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| Hair Styling Equipment
							li( class="hover:text-primary mb-2")
								a( href="./filter.html",  previewlistener="true")
									| 
									| Sports
				div(  class="  pb-6  ")
					h3(  class="text-xl font-bold")
						| Great Deals
					div(  class="mt-2") Save up to 30% off and Enjoy best products offers and qualities
		a( href="./filter.html", class="text-primary-500 font-bold flex items-center mt-2 text-lg", previewlistener="true")
			| Shop All products
