//navbar
div(class="sticky lg:top-10 top-0 bg-white z-40 shadow-md  maxlg:py-2" )
	button(class="fixed  top-72 !hidden bg-primary w-10 h-10 cent text-white font-bold z-50 "  x-on:click="toggleDirLang()") RTL
	button(class="fixed top-72 !hidden bg-primary w-10 h-10 cent text-white font-bold z-50 "  x-on:click="toggleDirLang()") LTR

	//- button(class="fixed bottom-24 right-5 cent  bg-gray-400 hover:bg-primary  w-10 h-10 cent text-white font-bold rounded-full z-50" ) 
	//- 	<i class="fa-solid fa-arrow-up-long"></i>
	div( class="fixed rtl:left-5 ltr:right-5 bottom-0 p-4 pb-10 z-20 w-20 "  x-data="{ isToggled: false, activeIcon: 1,toggle1:true,toggle2:false }" x-init="initIconLoop")
		a(href="")
			div(x-show="toggle2", :class="{'!flex':toggle2}", class="relative text-2xl hover:bg-secondary-100 hover:bg-gray-400 bg-primary  text-white w-14 h-14 cent rounded-full rtl:mr-2 ltr:ml-2 mb-2 z-[222222]", style="box-shadow: 0px 0px 20px #23418f1a;display:none")
				i(class="fa-brands fa-facebook-messenger")
		a(href="")
			div(x-show="toggle2", :class="{'!flex':toggle2}", class=" relative text-2xl hover:bg-secondary-100 hover:bg-gray-400 bg-primary  text-white  w-14 h-14 cent rounded-full rtl:mr-2 ltr:ml-2 mb-2 z-[222222]", style="box-shadow: 0px 0px 20px #23418f1a;display:none")
				i(class="fa-brands fa-whatsapp text-2xl")
		a(href="")
			div(x-show="toggle2",:class="{'!flex':toggle2}" class=" relative text-xl hover:bg-secondary-100 hover:bg-gray-400 bg-primary  text-white w-14 h-14 cent rounded-full rtl:mr-2 ltr:ml-2 mb-2 z-[222222]", style="box-shadow: 0px 0px 20px #23418f1a;display:none")
				i(class="fa-solid fa-phone-flip text-lg")
		div(@click="toggle2=!toggle2", x-show="toggle1", class="rounded-full text-2xl  hover:bg-gray-400 bg-primary  text-white   w-[60px] h-[60px] rtl:mr-1 ltr:ml-1 cent z-[222222] cursor-pointer", style="box-shadow: 0px 0px 20px #23418f1a")
			i(class="fa-solid fa-message" x-show="activeIcon === 1 && !toggle2 ")
			i(class="fa-brands fa-whatsapp hidden" :class="{'!block': activeIcon === 2 && !toggle2}" x-show="activeIcon === 2 && !toggle2")
			i(class="fa-brands fa-facebook-messenger hidden" x-show="activeIcon === 3 && !toggle2" :class="{'!block': activeIcon === 3 && !toggle2}")
			i(class="fa-solid fa-phone-flip hidden" x-show="activeIcon === 4 && !toggle2" :class="{'!block': activeIcon === 4 && !toggle2}")
			i(class="fa-solid fa-x hidden" :class="{'!block': toggle2}" x-show="toggle2")
		div(onclick="scrollToTop()", class="relative   hover:bg-gray-400 bg-primary  text-white  w-7 h-7 cent rounded-full rtl:mr-5 ltr:ml-5 mt-2 z-[222222] cursor-pointer", style="box-shadow: 0px 0px 20px #23418f1a")
			<i class="fa-solid fa-arrow-up-long"></i>
	<script>function initIconLoop() {setInterval(() => {this.activeIcon = (this.activeIcon % 4) + 1; }, 3000);}</script>
	div#LOGO(class=" container flex-col gap-2 sm:flex-row flex justify-between items-center" x-data={search:false})
		div(class=" flex justify-between  items-center lg:w-[20%] w-full")
			a(href="./index.html") 
				img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" src="../assets/logo.jpg", alt="" class="  w-[50px] lg:w-[60px]")

			form(action="submit",class=" text-sm lg:hidden  border border-2 rounded-full " )
				input(type="text", name="",class=" py-2 rtl:order-last border-none rounded-l-full lg:px-10 px-2 outline-[#FE6601] outline-0.5 ",placeholder="Search for products...")
				button(type="submit",class="py-2 px-2 rounded-r-full  ltr:border-l rtl:border-r font-semibold ") 
					<i class="fa-solid fa-magnifying-glass"></i>
			button(class=" lg:hidden  text-2xl  " x-on:click="sidebar=true")
				<i class="fa-solid fa-bars  "></i>
		nav(class="maxlg:px-[5%] maxlg:fixed maxlg:w-full inset-x-0 bottom-0 h-[70px] bg-white z-30"  x-data="{megaMenu:false}" @mouseover.away="megaMenu=false")
			ul(class=" flex items-center justify-center maxlg:justify-between lg:gap-12 font-bold text-secondary tracking-wide h-full text-[15px] uppercase" )
				a(href="./",) 
					li(class="cent flex-col gap-[2px] hover:text-primary ") 
						<i class="fa-solid fa-house text-xl lg:hidden"></i>
						span(class="maxlg:text-[10px]") HOME 
					
						
				div(   class=" relative" @mouseover="megaMenu=true" ) 
					button(aria-label="shop" class="cent flex-col gap-[2px] hover:text-primary ") 
						<i class="fa-solid fa-bag-shopping text-xl lg:hidden hover:text-primary"></i>
						span(class="maxlg:text-[10px]") SHOP 
					include ./mega-menu.pug

				a(href="./blog.html" class="hidden lg:block") 
					li(class="cent gap-1 hover:text-primary ")
						//- <i class="fa-brands fa-blogger-b text-xl lg:hidden hover:text-primary"></i>
						span(class="maxlg:text-[10px]") BLOG 
				a(href="./about.html" class="hidden lg:block") 
					li(class="cent gap-1 hover:text-primary ")
						//- <i class="fa-brands fa-blogger-b text-xl lg:hidden hover:text-primary"></i>
						span(class="maxlg:text-[10px]") about us
				a(href="./contact-us.html" class="hidden lg:block") 
					li(class="cent gap-1 hover:text-primary ")
						//- <i class="fa-brands fa-blogger-b text-xl lg:hidden hover:text-primary"></i>
						span(class="maxlg:text-[10px]") contact us
						
						
						
				li(class="cent gap-1 relative maxlg:hidden"  x-data="{isOpen:false} " @mouseover="isOpen=true" @mouseover.away="isOpen=false" )
					button(class="hover:text-primary cent gap-1 cursor-pointer")
						span PAGES 
						i(class="fa-solid fa-caret-down text-xs")
					div(class="absolute w-44 top-6 border p-4 z-50 bg-white right-0 hidden", :class="{'!block': isOpen}" x-show="isOpen" )
						div(class="flex items-start flex-col gap-2 font-normal text-start capitalize") 
							
							a(href="./about.html" class=" hover:text-primary ltr:hover:translate-x-4 rtl:hover:-translate-x-4 duration-300") about us
							a(href="./contact-us.html" class=" hover:text-primary w-full ltr:hover:translate-x-4 rtl:hover:-translate-x-4 duration-300") contact us
							a(href="./my-account.html" class=" hover:text-primary ltr:hover:translate-x-4 rtl:hover:-translate-x-4 duration-300") My account 
				//- a(href="" class="lg:hidden") 
				//- 	li(class="cent gap-1 hover:text-primary ")
				//- 		<i class="fa-solid fa-users text-xl hover:text-primary"></i>
				//- a(href="" class="lg:hidden") 
				//- 	li(class="cent gap-1 hover:text-primary ")
				//- 		<i class="fa-solid fa-phone  text-xl hover:text-primary"></i>
				a(href="./contact-us.html" class="lg:hidden") 
					li(class="cent flex-col gap-[2px] hover:text-primary ")
						<i class="fa-solid fa-user   text-xl lg:hidden"></i>
						span(class="maxlg:text-[10px]") myAccount
				a(href="./wishlist.html" class="lg:hidden") 
					li(class="cent flex-col gap-[2px] hover:text-primary ")
						<i class="fa-solid fa-heart text-xl lg:hidden"></i>
						span(class="maxlg:text-[10px]")  favorite
				a(href="./bag.html" class="lg:hidden") 
					li(class="cent flex-col gap-[2px] hover:text-primary ")
						<i class="fa-solid fa-bag-shopping text-xl lg:hidden"></i>
						span(class="maxlg:text-[10px]") cart
				//- a(href="" class="maxlg:hidden") 
				//- 	li(class="cent gap-1 hover:text-primary ")
				//- 		span PURCHASE 
		div(class="lg:flex hidden justify-center items-center gap-4 " x-data="{logIn:false}")
			a(href="./my-account.html" class="hover:text-primary  cent gap-1") 
				<i class="fa-regular fa-user mt-1"></i>
				span.text-sm.tracking-wider.font-normal Login/Register
			div(class=" gap-1 relative maxlg:hidden   hidden" :class="{'cent':logIn}" x-show="logIn"  x-data="{isOpen:false} " @mouseover="isOpen=true" @mouseover.away="isOpen=false")
				div(class="hover:text-primary cent gap-1 cursor-pointer")
					<i class="fa-regular fa-user mt-1"></i>
					span user name 
					
				div(class="absolute w-44 top-6 border p-4 z-50 bg-white right-0 hidden", :class="{'!block': isOpen}" x-show="isOpen" )
					div(class="flex items-start flex-col gap-2 font-normal text-start capitalize") 
						
						a(href="./profile.html" class=" hover:text-primary ltr:hover:translate-x-4 rtl:hover:-translate-x-4 duration-300") Dashboard
						//- a(href="./profile.html" class=" hover:text-primary w-full ltr:hover:translate-x-4 rtl:hover:-translate-x-4 duration-300") Orders
						button( class=" hover:text-primary ltr:hover:translate-x-4 rtl:hover:-translate-x-4 duration-300") Log out

			div(class="relative")
				div(class="absolute top-1 rtl:left-0 font-extrabold ltr:right-0 w-[25px] bg-primary rounded-full aspect-square cent text-white text-sm") 15
				a(href="./wishlist.html") 
					<i class="fa-regular fa-heart text-3xl  hover:text-primary p-2"></i>
			div(class="relative" x-data="{cart:false}" @mouseover="cart=true" @mouseover.away="cart=false" )
				div(class="absolute top-1 rtl:left-0 font-extrabold ltr:right-0 w-[25px] z-50 bg-primary rounded-full aspect-square cent text-white text-sm") 15
				a(href="./bag.html" class="relative " )
					<i class="fa-solid fa-bag-shopping text-3xl hover:text-primary p-2"></i>
				div(class="absolute w-96  top-12 border p-5 z-50 bg-white ltr:right-0 rtl:left-0 border-t-[3px] border-t-primary hidden" :class="{'!block': cart}" x-show="cart")
					div(class="h-[400px] divide-y-2 overflow-y-auto")
						-for(let i=0;i<5;i++)
							a(href="./product.html" class="flex gap-2 p-2")
								div(class="w-[70px]")
									img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" class="min-w-[70px] aspect-square" alt="" src="../assets/17-img-6.png")
								div(class="grow")
									h2(class="text-sm text-black capitalize font-bold") exported 
									div(class="text-sm  capitalize gap-1 flex items-center")
										span(class="") 1
										span(class="text-[10px] font-bold ") x
										span(class="") 50.00 



					div(class="w-full h-0 border-zinc-300 border-t-[1px] my-4") 
					div(class="flex justify-between items-center")
						p.font-semibold SUBTOTAL:
						p.font-semibold 50.00
					div.cent.gap-5.mt-2
						a( href="./bag.html" class="py-2 px-6 bg-primary rounded-full text-white  font-medium text-sm tracking-wider  border-primary hover:bg-white border-2 hover:text-primary") VIEW CART
						a( href="./shipping.html" class="py-2 px-6 bg-zinc-400 rounded-full text-white  font-medium text-sm tracking-wider  border-zinc-400 hover:bg-white border-2 hover:text-zinc-400") CHECKOUT
			
			

		div(class="lg:hidden sm:cent gap-5 text-2xl hidden")
			<i class="fa-solid fa-circle-user  hover:text-primary"></i>
			<i class="fa-solid fa-heart hover:text-primary"></i>
			<i class="fa-solid fa-bag-shopping  hover:text-primary"></i>
			


