//organic store
section.my-14
	h2(class="text-center text-5xl font-semibold") Welcome to Organic Store! 
	section(class=" container lg:flex gap-5 lg:py-16 justify-center items-center ")
		div(class="lg:w-1/2 my-5")
			img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="" ,class=" aspect-video w-full overflow-hidden")
		div(class="lg:w-1/2 my-5")
			h3(class=" fontprim text-3xl lg:text-5xl pt-12 pb-5") Combo Fruit & Vegetables
			p.text-zinc-500 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis