//pop up for wish list and add to card

div(class="fixed top-[80px] ltr:right-7 z-[5000] w-[300px] hidden" x-show.transition="wishlist" 
         x-init="() => { setTimeout(() => wishlist = false, 1); timeout = setTimeout(() => wishlist = false, 1000); }" :class="{'!block' : wishlist}" )
    div(class="bg-white shadow rounded")
        div(class=" p-2 flex justify-between ")
            h5(class="capitalize text-sm") notice!
            h5(class="text-base font-semibold cursor-pointer" @click="wishlist=false") x
        div(class="flex gap-2 p-2  border-zinc-300 border-t-[1px]")
            div(class="w-[70px]")
                img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" class="min-w-[70px] aspect-square" alt="" data-src="../assets/17-img-6.png")
            div(class="grow")
                h2(class="text-sm text-yellow-400 capitalize font-bold") exported 
                h2(class="text-sm  capitalize") product added!
                div(class="flex justify-end mt-4 text-sm") 
                    a(href="./wishlist.html" class="underline") browse wishlist
