include mixins/hero-section.pug 


doctype html
html(lang="en" dir="ltr" x-data="{ lang: localStorage.getItem('lang') || 'en', dir: localStorage.getItem('dir') || 'ltr', toggleDirLang() { this.lang = this.lang === 'en' ? 'ar' : 'en'; this.dir = this.dir === 'ltr' ? 'rtl' : 'ltr'; this.updateAttributes(); window.location.reload(); }, setToLTR() { this.lang = 'en'; this.dir = 'ltr'; this.updateAttributes(); window.location.reload(); }, setToRTL() { this.lang = 'ar'; this.dir = 'rtl'; this.updateAttributes(); window.location.reload(); }, updateAttributes() { localStorage.setItem('dir', this.dir); localStorage.setItem('lang', this.lang); document.documentElement.dir = this.dir; document.documentElement.lang = this.lang; }}", x-init="() => { document.documentElement.lang = lang; document.documentElement.dir = dir; }")
    include ./components/head
    body(x-data="{sidebar:false,showDetails:false,compare:false,wishlist:false, timeout: null}")
        include ./components/header
        include ./components/navbar
        include ./components/sidebar
        include ./components/PopUp
        include ./components/show-component
        include ./components/compare-product

        +heroSection('Organic')
        include ./pages-components/blog/blog-section.pug
        include ./components/joinOur.pug
        include ./components/footer
        include ./components/scripts
