

//- mixin heroSection (activeIndex)
//-     section
//-         div(class="cent flex-col maxlg:h-[100px]  text-white relative")
//-             img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/doctor.jpg", alt="" class=" max-h-[200px] min-h-full min-w-full ")
//-             div(class=" absolute capitalize")
//-                 h2(class="text-4xl font-bold") #{activeIndex}
//-                 a(href="..//html/index.html" class=" cent" )
//-                     span(class="hover:text-primary cent") Home &nbsp; / &nbsp;
//-                     span  #{activeIndex}
mixin heroSection (activeIndex)
    section
        div(class="container  font-bold lg:pt-10 pt-5  px-2 text-primary relative")
            div(class=" flex mb-10  gap-4 capitalize")
                h2(class="text-2xl text-center font-bold") #{activeIndex}
                div(class="h-full text-2xl") |
                div(class=" cif lg:text-sm capitalize")
                    a(href="./index.html" class=" cif" )
                        span(class="hover:text-primary cent") Home 
                    span &nbsp; / &nbsp;
                    a(href="" class=" cif" )
                        span  #{activeIndex}

