//best seller
section(x-data="{food:'tap-1'}" class="py-10 container")
	h2(class=" fontprim text-3xl md:text-6xl text-center") Bestseller Products
	ul(class="cent gap-4 md:gap-8 font-bold text-sm md:text-2xl text-zinc-400"  )
		li(@click="food='tap-1'"  class=" cursor-pointer hover:text-primary" :class="{ 'text-primary': food == 'tap-1' }"   ) Oranges
		li(@click="food='tap-2'" class=" cursor-pointer hover:text-primary" :class="{ 'text-primary': food == 'tap-2' }"   )  Fresh Meat
		li(@click="food='tap-3'" class=" cursor-pointer hover:text-primary" :class="{ 'text-primary': food == 'tap-3' }"   )  Vegetables
		li(@click="food='tap-4'" class=" cursor-pointer hover:text-primary" :class="{ 'text-primary': food == 'tap-4' }"   )  Fastfood
	div(class=" w-full" x-show="food == 'tap-1'")
		div(class="swiper swiper-product lg:my-20 my-3"  )
			div(class="swiper-wrapper"  )
				-for(let i=0 ;i<9;i++)
					div(class="swiper-slide w-full")
						include ../../components/productCard


	div(class=" w-full" x-show="food == 'tap-2'")
		div(class="swiper swiper-product lg:my-20 my-3"  )
			div(class="swiper-wrapper"  )
				-for(let i=0 ;i<9;i++)
					div(class="swiper-slide w-full")
						include ../../components/productCard

	div(class=" w-full" x-show="food == 'tap-3'")
		div(class="swiper swiper-product lg:my-20 my-3"  )
			div(class="swiper-wrapper"  )
				-for(let i=0 ;i<9;i++)
					div(class="swiper-slide w-full")
						include ../../components/productCard

	div(class=" w-full" x-show="food == 'tap-4'")

		div(class="swiper swiper-product lg:my-20 my-3"  )
			div(class="swiper-wrapper"  )
				-for(let i=0 ;i<9;i++)
					div(class="swiper-slide w-full")
						include ../../components/productCard
