#countdown
	.countdown-item
		span#days 00  
		span.text-sm.text-zinc-500.font-normal.-tracking-wide DAYS
	span  :  
	.countdown-item 
		span#hours 00
		span.text-sm.text-zinc-500.font-normal.-tracking-wide HOURS
	span  :  
	.countdown-item  
		span#minutes 00
		span.text-sm.text-zinc-500.font-normal.-tracking-wide MINS
	span  :  
	.countdown-item 	
		span#seconds 00 
		span.text-sm.text-zinc-500.font-normal.-tracking-wide SECS 