div(class=" swiper mainSwiper" x-data="{isOpen:false}" )
	div.swiper-wrapper
		div.swiper-slide 
			div.relative.cent
				div(class=" overflow-hidden  ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" src="../assets/17-slide-1.jpeg", alt="",class="lg:aspect-[5/1.95] aspect-[2/1]   w-full ")
					div(class="absolute sm:top-40 top-5 mx-10  max-w-lg max-h-56 cent flex-col gap-5 sm:scale-100 scale-75")
						div.relative.cent
							img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" src="../assets/titleb.png", alt="" ) 
							h3.absolute.text-white.text-sm.tracking-widest.font-bold DEAL OF THE WEEK
						h3(class="fontprim  md:text-7xl text-4xl  text-center ml-10") Organic & Natural
						p(class="lg:-ml-[20%] text-zinc-700 text-sm") Let food be the medicine and medicine be the food!
						button(class=" maxlg:hidden hover:bg-primary hover:text-black py-[13px] px-[50px] bg-[#09483F] rounded-full text-white  font-bold text-sm tracking-wider scale-75 lg:-ml-[40%]") SHOP NOW
		div.swiper-slide 
			div.relative.cent
				div(class=" overflow-hidden  ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" src="../assets/17-slide-2.jpeg", alt="",class="lg:aspect-[5/1.95] aspect-[2/1]   w-full ")
					div(class="absolute sm:top-40 top-5 mx-10   sm:ml-10 max-w-lg max-h-56 cent flex-col gap-5 sm:scale-100 scale-75")
						div.relative.cent
							img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" src="../assets/titleb.png", alt="" ) 
							h3.absolute.text-white.text-sm.tracking-widest.font-bold DEAL OF THE WEEK
						h3(class="fontprim  md:text-7xl text-4xl  text-center ml-10") Organic & Natural
						p(class="lg:-ml-[20%] text-zinc-700 text-sm") Let food be the medicine and medicine be the food!
						button(class="maxlg:hidden hover:bg-primary hover:text-black py-[13px] px-[50px] bg-[#09483F] rounded-full text-white  font-bold text-sm tracking-wider scale-75 lg:-ml-[40%]") SHOP NOW
		div.swiper-slide 
			div.relative.cent
				div(class=" overflow-hidden  ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" src="../assets/17-slide-3.jpeg", alt="",class="lg:aspect-[5/1.95] aspect-[2/1]   w-full ")
					div(class="absolute sm:top-40 top-5 mx-10  max-w-lg max-h-56 cent flex-col gap-5 sm:scale-100 scale-75")
						div.relative.cent
							img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" src="../assets/titleb.png", alt="" ) 
							h3.absolute.text-white.text-sm.tracking-widest.font-bold DEAL OF THE WEEK
						h3(class="fontprim  md:text-7xl text-4xl  text-center ml-10") Organic & Natural
						p(class="lg:-ml-[20%] text-zinc-700 text-sm") Let food be the medicine and medicine be the food!
						button(class=" maxlg:hidden hover:bg-primary hover:text-black py-[13px] px-[50px] bg-[#09483F] rounded-full text-white  font-bold text-sm tracking-wider scale-75 lg:-ml-[40%]") SHOP NOW
	.swiper-pagination

