//swiper categories
div(class="swiper mySwiper  lg:my-20 my-10" x-data="{ isOpen: false}" :dir="dir" @mouseover="isOpen=true" @mouseover.away="isOpen=false"  )
	div(class="swiper-wrapper"  )
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-17.jpeg", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)
		div(class="swiper-slide sm:w-[300px] sm:h-[300px] sm:p-4 p-2  w-full")
			a(href="",class=" aspect-square bg-white shadow rounded-2xl  shrink-0 overflow-hidden flex justify-between py-3 items-center relative  flex-col hover:text-primary gap-8 maxsm:gap-2")
				div(class=" h-full  overflow-hidden aspect-square ")
					img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/17-img-7-768x387.png", alt="",class="rounded-md duration-300 hover:scale-110 ease-in-out smoothing-smooth aspect-square  " )
				.cent.flex-col
					div(class="fontprim text-3xl maxsm:text-xs") fresh vegetables
					p(class=" maxsm:text-xs text-sm italic") (0 Item)


	div#prev(class="swiper-button-prev  fa-solid  fa-angle-left text-primary  text-2xl rounded-lg hidden group-hover:flex", :class="{'fa-solid fa-angle-right' : dir == 'rtl','fa-solid fa-angle-left' : dir == 'ltr'}"  x-show="isOpen")
	div#next(class="swiper-button-next fa-solid  fa-angle-right  text-primary  text-2xl rounded-lg hidden group-hover:flex", :class="{'fa-solid fa-angle-left' : dir == 'rtl','fa-solid fa-angle-right' : dir == 'ltr'}" x-show="isOpen")




